<!doctype html>
<html lang="en">
    <head>    

        <title>Ocean Car Service | {{ if .Params.seo.title }}{{ $.Params.seo.title }}{{ else }}{{ print print $.Title " | " $.Site.Title }}{{ end }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="{{ .Params.seo.description | default "" }}" />
        <!-- START BLZ-HEADKIT -->
        <meta name="google-site-verification" content="Bpq7oDCFRaVrC690gSSzxOD8T4r0f3xux2iJfNwZvlc" />
        <meta name="norton-safeweb-site-verification" content="k0pdhrve5eay2sa77bxxt7asqr3ailq4d8-mt3kfl0jvydo45s81wd3u9nc8c-iw28e-fzh0c-sxuhj0mjj0pqkdkveawhbm5ez3lc8eqbz40qfgdlcp0826m-mghm91" />
        <link rel="preconnect" href="https://my.sirv.com">
        <link rel="dns-prefetch" href="//my.sirv.com/">
        <link rel="me" href="mailto:booking@oceancarservice.com">
        <!-- END BLZ-HEADKIT -->
        {{ if .Params.seo.robots }}
        <meta name="robots" content="{{ delimit $.Params.seo.robots "," }}">
        {{ end }}
        {{ range $meta := .Params.seo.extra }}
          {{ $key_name := $meta.keyName | default "name" }}
          {{ if $meta.relativeUrl }}
            {{ if $.Site.Params.domain }}
              {{ $domain := trim $.Site.Params.domain "/" }}
              {{ $rel_url := $meta.value | relURL }}
              {{ $full_url := print $domain $rel_url }}
              <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $full_url }}">
            {{ end }}
          {{ else }}
            <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $meta.value }}">
          {{ end }}
        {{ end }}
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10 "targetPath" "css/main.css")).Permalink }}">
        {{ if .Site.Params.favicon }}
        <link rel="icon" href="{{ $.Site.Params.favicon | relURL }}">
        {{ end }}
        
    </head>
    <body>
        <blz-app>
          <div class="wrapper">
              {{ partial "header.html" . }}
              <div class="container">
                  {{ block "content" . }}{{ end }}
              </div>
              {{ partial "footer.html" . }}
          </div>
        </blz-app>
        <script type="module">

                // In development, a local server must be used:
                // This option is especially useful when making 
                // changes to the codebase.

              //import { BlazedApp } from 'http://localhost:8080/assets/js/modules/blz.js';

                // In production/staging, a trusted CDN may be used:
                // This option is especially useful when working 
                // with a stable or immutable build.

              import { BlazedApp } from 'https://blazed.sbs/assets/js/blz.js';

                if((typeof BlazedApp) === 'function'){
                    console.log("fire-v3.0.0");
                    window.customElements.define('blz-app', BlazedApp);
                }

        </script>
        <script src="{{ "js/init.js" | relURL }}"></script>
        <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    </body> 
</html>
